html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    font-family: 'Roboto Slab', 'Montserrat', 'Droid Serif', serif;
    color: rgb(119, 119, 119);
    line-height: 1.2;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 940px;
    margin: 0px auto;
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-slab-v10-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-slab-v10-latin-regular.woff') format('woff');
    /* Modern Browsers */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Modern Browsers */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Modern Browsers */
}

* {
    outline: 1px solid red;
}


/* header */

.main-header {
    margin-bottom: 98px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.site-logo {
    /* width: 80px; */
    /* height: 28px; */
    /* cursor: pointer; */
    /* margin-bottom: 12px; */
}

.navigation-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 480px;
    margin: 48px 0px 0px;
    padding: 0px;
    list-style: none;
    text-transform: uppercase;
}

/* .navigation-item {
    cursor: pointer;
    position: relative;
} */

/* .navigation-item:not(:nth-of-type(5n)) {
    margin-right: 40px;
} */

.nav-link {
    display: block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.2;
    /* margin-top: 42px; */
    /* margin-bottom: 10px; */
}

/* .nav-link::after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background: #f38181;
    bottom: 0;
    left: 50%;
    transition: all 0.2s linear;
} */

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
    left: 0;
    transition: all 0.2s linear;
}

.nav-link:hover,
.nav-link:focus {
    color: rgb(254, 209, 54);
    transition: all 0.2s linear;
}

.site-logo:hover {
    background-color: rgba(254, 209, 54, .15);
    transition: all 0.2s linear;
}

.site-logo:focus {
    background-color: rgb(254, 209, 54, .15);
    transition: all 0.2s linear;
}

/* main */

.main-content {
    margin-bottom: 120px;
}

.section-title {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
    margin: 0px;
}

.description-section {
    font-size: 16px;
    font-family: "Droid Serif", serif;
    color: rgb(119, 119, 119);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin: 0px 0px 78px 0px;
}

.section-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.section-item {
    width: 290px;
    padding: 96px 0px 0px;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.section-item::before {
    display: block;
    content: '';
}

.icon-basket {
    background-image: url(../img/circle-basket.png);
}

.icon-laptop {
    background-image: url(../img/circle-laptop.png);
}

.icon-locked {
    background-image: url(../img/circle-locked.png);
}

.title-item {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(34, 34, 34);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0px 0px 12px 0px;

}

.description {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    color: rgb(119, 119, 119);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0px;
}





/* footer */

.main-footer {
    height: 676px;
    background-color: #222222;
    background-image: url(../img/map_img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
    margin-top: 106px;
}

.footer-title {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 106px 0px 16px;
}

.description-footer {
    font-size: 16px;
    font-family: "Droid Serif", serif;
    color: rgb(119, 119, 119);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin: 0px 0px 74px 0px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fieldset-form {
    display: flex;
    justify-content: space-between;
    height: 214px;
    border: none;
    margin: 0px 0px 30px 0px;
    padding: 0px;
}

.input-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    width: 478px;
    margin: 0px;
    padding: 0px;

}

.input-item {
    width: 458px;
    height: 54px;
}

.input-field {
    width: 458px;
    height: 54px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    color: rgb(187, 187, 187);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 0px;
    padding: 20px 5px 20px 20px;
}

.input-area {
    width: 458px;
    height: 214px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    padding: 20px 5px 0px 20px;
    resize: none;
}



















/* .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid #e5e5e5;
}

.footer-content {
    display: flex;
}

.footer-text {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
    margin: 0px 4px 0px;
}

.footer-link {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #333333;
    margin: 0px;
    cursor: pointer;
}

.footer-link:hover,
.footer-link:focus {
    color: #f38181;
    transition: all 0.2s linear;
}

.footer-field {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin: 0px;
}

.input-field {
    width: 230px;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
    padding: 12px 0px 10px 12px;
    border: 1px solid #e7e7e7;
    border-right: 0px;
}

input::-webkit-input-placeholder {
    color: #cccccc;
}

.button {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: #95e1d3;
    padding: 12px 34px;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: rgb(234, 240, 239);
    transition: all 0.2s linear;
} */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}