.burger {
  display: block;
  width: 24px;
  height: 12px;
  position: relative;

  &::before,
  &::after {
    @include pseudo($display: block);
    width: 100%;
    height: 2px;
    background-color: $first-black-color;
    position: absolute;
    left: 0;
    transition: all 0.1s linear;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover::before {
    transform: rotate(45deg);
    top: 5px;
  }

  &:hover::after {
    transform: rotate(-45deg);
    bottom: 5px;
  }

  &:hover .burger__block {
    transform: scale(0);
  }

  @include desktop {
    display: none;
  }
}

.burger__block {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $first-black-color;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s linear;
}
