.button {
  // max-width: 250px;
  width: 250px;
  font-size: 11px;
  line-height: $main-text-height;
  @extend %button;
  padding: 16px 14px;

  &--light {
    color: $primary-white-color;
    background-color: $primary-orange-color;

    &:hover,
    &:focus {
      color: $primary-orange-color;
      background-color: $primary-white-color;
    }
  }

  &--lighter {
    color: #ff6b08;
    background-color: $primary-white-color;
    border: 2px solid #ff6b08;

    &:hover,
    &:focus {
      color: $primary-white-color;
      background-color: #ff6b08;
      border: 2px solid #ffffff;
    }
  }
}

@media screen and (min-width: 1280px) {
  .button {
    width: 300px;
    font-size: 12px;
    padding: 25px 5px;

    &--light {
      letter-spacing: 2px;
    }
  }
}


// .footer--button {
//   font-size: $secondary-font-size;
//   padding: 12px 34px;
//   border: none;
// }

// &--lighter {
//   color: $primary-white-color;
//   background-color: $background-lighter-color;
//   border: 3px solid $primary-white-color;

//   &:hover,
//   &:hover {
//     color: $primary-yelow-color;
//     border-color: $primary-yelow-color;
//   }
