.button {
  width: 250px;
  font-size: 11px;
  line-height: $main-text-height;
  @extend %button;
  padding: 15px 14px;

  &--light {
    color: $primary-white-color;
    background-color: $primary-orange-color;

    &:hover,
    &:focus {
      color: $primary-orange-color;
      background-color: $primary-white-color;
    }
  }
}

// .footer--button {
//   font-size: $secondary-font-size;
//   padding: 12px 34px;
//   border: none;
// }

// &--lighter {
//   color: $primary-white-color;
//   background-color: $background-lighter-color;
//   border: 3px solid $primary-white-color;

//   &:hover,
//   &:hover {
//     color: $primary-yelow-color;
//     border-color: $primary-yelow-color;
//   }
