.cards-slides__wrapper {
  padding: 0px 48px;
}

.cards-slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @extend %list;
}

.cards-slides__link {
  display: block;
  @extend %link;
  font-size: 0px;
}

.cards-slides__image:hover,
.cards-slides__image:hover {
  border: 2px solid #ff6b08;
  border-radius: 50%;
  transform: scale(1.12);
}

.slider__item--fifth-card,
.slider__item--sixth-card,
.slider__item--seventh-card,
.slider__item--eighth-card {
  display: none;
}