.card {
  display: flex;
  flex-direction: column;
}

.card__img {
  width: 280px;
  height: 214px;
}

.card__title {
  font-size: 16px;
  color: #111517;
  line-height: 1.823;
  margin: 0px 0px 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid #d1d1d1;
}

.card__items {
  @extend %list;
  padding-left: 34px;
  margin-bottom: 40px;
}

.card__item {
  @extend %link;
  position: relative;
  background-repeat: no-repeat;

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 16px;
    height: 12px;
    background-image: url(../../images/icons-svg/check3x.svg);
    left: -34px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:not(:nth-last-of-type(-3n+1)) {
    margin-bottom: 20px;
  }
}

.card__description {
  font-size: 13px;
  color: #111517;
  word-spacing: 4px;
  margin: 0px;
  white-space: pre-line;
}

.card__text {
  font-size: 11px;
  line-height: 1.818;
  margin: 0px;
  padding: 0px 16px;
  position: relative;
  white-space: pre-line;

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    top: -20px;
  }
}

.card__link {
  display: block;
  font-size: 11px;
  color: #ff6b08;
  text-decoration: underline;
  line-height: 2.652;
  margin: 0px;
  padding-left: 16px;
  @extend %item;

  &:hover,
  &:focus {
    text-shadow: 1px 1px 5px #ff6b08;
  }
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    width: 398px;
  }

  .card__img {
    // display: inline-block;
    width: 246px;
    height: 320px;
  }

  .card__title {
    font-size: 20px;
    line-height: 1.458;
    margin: 0px 0px 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d1d1d1;
  }

  .card__description {
    // word-spacing: 4px;
    // margin: 0px;
    white-space: initial;
  }

  .card__text {
    margin-bottom: 14px;
    padding: 0px;
    white-space: initial;
  }

  .card__link {
    padding-left: 0px;
  }
}
