.cards-slides__wrapper {
  padding: 0px 48px;

  @include tablet {
    padding: 0px 90px;
  }

  @include desktop {
    padding: 0px 236px;
  }
}

.cards-slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @extend %list;
}

.cards-slides__link {
  display: block;
  @extend %link;
  font-size: 0px;
}

.cards-slides__image:hover,
.cards-slides__image:hover {
  border: 2px solid #ff6b08;
  border-radius: 50%;
  transform: scale(1);
}

.cards-slides__item--fifth-card,
.cards-slides__item--sixth-card,
.cards-slides__item--seventh-card,
.cards-slides__item--eighth-card {
  display: none;

  @include tablet {
    display: block;
  }
}

