.card {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card__content {
  @include tablet {
    display: flex;
    flex-direction: column;
    width: 398px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    // width: 632px;
    @include width-percent(628px, 1210px);
  }

  @include desktop-wide {
    // min-width: 676px;
    @include width-percent(650px, 1210px);
  }
}

.card__img {
  width: 280px;
  height: 214px;
  margin-bottom: 18px;

  @include tablet {
    width: 246px;
    height: 320px;
  }

  @include desktop {
    // width: 493px;
    @include width-percent(493px, 1210px);
    // min-height: 644px;
    @include height-percent(644px, 1210px);
  }

  @include desktop-wide {
    // width: 493px;
    @include width-percent(478px, 1210px);
    // min-height: 644px;
    @include height-percent(644px, 1210px);
  }
}

.card__title {
  font-size: 16px;
  color: #111517;
  line-height: 1.823;
  margin: 0px 0px 16px;
  padding-bottom: 4px;
  border-bottom: 1px solid #d1d1d1;
  letter-spacing: 1.2px;

  @include tablet {
    font-size: 20px;
    line-height: 1;
    margin: 0px 0px 18px;
    padding-bottom: 12px;
  }

  @include desktop {
    font-size: 29px;
    line-height: 1;
    margin: 0px 0px 34px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
  }

  @include desktop-wide {
    margin: 0px 0px 26px;
    padding-bottom: 14px;
  }
}

.card__items {
  @extend %list;
  padding-left: 34px;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 36px;
  }

  @include desktop {
    margin-bottom: 58px;
    padding-left: 44px;
  }
}

.card__item {
  @extend %link;
  position: relative;
  background-repeat: no-repeat;

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 16px;
    height: 12px;
    background-image: url(../../images/icons-svg/check3x.svg);
    left: -34px;
    background-repeat: no-repeat;
    background-size: cover;

    @include desktop {
      width: 20px;
      height: 16px;
      left: -40px;
    }
  }

  &:not(:nth-last-of-type(-3n+1)) {
    margin-bottom: 16px;

    // @include desktop {
    //   margin-bottom: 16px;
    // }

    @include desktop-wide {
      margin-bottom: 17px;
    }
  }
}

.card__description {
  font-size: 13px;
  line-height: 1.5;
  color: #111517;
  margin: 0px;
  letter-spacing: 0.7px;

  &--position {
    padding-right: 30px;
  }

  @include tablet {
    padding-right: 10px;
    letter-spacing: 1.3px;
  }

  @include desktop {
    font-size: 16.667px;
    line-height: 1.75;
    padding-right: 104px;
    letter-spacing: 1.1px;

    &--position {
      padding-right: 0px;
    }
  }

  @include desktop-wide {
    padding: 0px 150px 0px 0px;
  }
}

.card__text {
  font-size: 11px;
  line-height: 1.818;
  margin: 0px 0px 16px 0px;
  padding: 0px 16px;
  position: relative;
  letter-spacing: 0.3px;

  &--position::before {
    display: block;
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    top: -20px;
  }

  @include tablet {
    margin-bottom: 18px;
    padding: 0px 20px 0px 0px;
    white-space: initial;
  }

  @include desktop {
    font-size: 16.667px;
    line-height: 1.75;
    margin-bottom: 16px;
    padding: 0px 34px 0px 0px;
    word-wrap: break-word;
    word-spacing: 3px;

    &--position::before {
      top: -36px;
    }
  }

  @include desktop-wide {
    margin-bottom: 14px;
    padding: 0px 14px 0px 0px;
    word-spacing: 3px;

    // всі, крім останнього
    &:nth-last-of-type(-3n+1) {
      margin-bottom: 28px;
    }
  }
}

.card__link {
  display: block;
  font-size: 11px;
  line-height: 2.152;
  color: #ff6b08;
  text-decoration: underline;
  margin: 0px;
  padding-left: 16px;
  @extend %item;
  letter-spacing: 0.4px;

  &:hover,
  &:focus {
    text-shadow: 1px 1px 5px #ff6b08;
  }

  @include tablet {
    padding-left: 0px;
    line-height: 1.652;
  }

  @include desktop {
    font-size: 16.667px;
    line-height: 1.75;
  }
}
