.card {
  @include center-flex('col');

  @include tablet {
    @include center-flex('spbtw');
  }
}

.card__content {
  @include tablet {
    @include center-flex('col');
    width: 398px;
  }

  @include desktop {
    @include width-percent(628px, 1210px);
  }

  @include desktop-wide {
    @include width-percent(650px, 1210px);
  }
}

.card__img {
  width: 280px;
  height: 214px;
  margin-bottom: 18px;

  @include tablet {
    width: 246px;
    height: 320px;
  }

  @include desktop {
    @include width-percent(493px, 1210px);
    @include height-percent(644px, 1210px);
  }

  @include desktop-wide {
    @include width-percent(478px, 1210px);
    @include height-percent(644px, 1210px);
  }
}

.card__title {
  @include font-settings($sixth-text-size, 1.823, 1.2px);
  margin: 0px 0px 16px;
  padding-bottom: 4px;
  border-bottom: 1px solid $second-lightgrey-color;

  @include tablet {
    @include font-height($tenth-text-size, 1);
    margin: 0px 0px 20px;
    padding-bottom: 12px;
  }

  @include desktop {
    font-size: $twenty-nine-text-size;
    margin: 0px 0px 34px;
    padding-bottom: 10px;
    border-bottom: 1px solid $first-lightgrey-color;
  }

  @include desktop-wide {
    margin: 0px 0px 30px;
    padding-bottom: 14px;
  }
}

.card__items {
  @extend %list;
  padding-left: 34px;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 36px;
  }

  @include desktop {
    margin-bottom: 54px;
    padding-left: 44px;
  }
}

.card__item {
  @extend %link;
  position: relative;

  &::before {
    @include pseudo($display: block);
    width: 16px;
    height: 12px;
    @include bgr-image('../images/icons-svg/check3x.svg', cover, no-repeat);
    @include absolute-tl(absolute, 0px, -34px);

    @include desktop {
      width: 20px;
      height: 16px;
      left: -40px;
    }

    @include desktop-wide {
      left: -38px;
    }
  }

  &:not(:nth-last-of-type(-3n+1)) {
    margin-bottom: 16px;

    @include desktop-wide {
      margin-bottom: 16px;
    }
  }
}

.card__description {
  @include font-settings($third-text-size, 1.5, 0.7px);
  margin: 0px;

  &--position {
    padding-right: 30px;
  }

  @include tablet {
    padding-right: 20px;

    &--position {
      padding-right: 0px;
    }
  }

  @include desktop {
    @include font-settings($custom-second-text-size, 1.75, 1px);
    padding-right: 108px;

    &--position {
      padding-right: 0px;
    }
  }

  @include desktop-wide {
    padding: 0px 150px 0px 0px;

    &--position {
      padding-right: 0px;
    }
  }
}

.card__text {
  @include font-settings($first-text-size, 1.881, 0.3px);
  margin: 0px 0px 16px 0px;
  padding: 0px 16px;
  position: relative;

  &--position::before {
    @include pseudo($display: block);
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: $first-orange-color;
    top: -20px;
  }

  @include tablet {
    margin-bottom: 18px;
    padding: 0px 20px 0px 0px;
    white-space: initial;
  }

  @include desktop {
    @include font-height($custom-second-text-size, 1.75);
    margin-bottom: 16px;
    padding: 0px 28px 0px 0px;
    word-wrap: break-word;
    word-spacing: 3px;

    &--position::before {
      top: -36px;
    }
  }

  @include desktop-wide {
    margin-bottom: 18px;
    padding: 0px 14px 0px 0px;

    &--position::before {
      top: -30px;
    }

    // всі, крім останнього
    &:nth-last-of-type(-3n+1) {
      margin-bottom: 22px;
    }
  }
}

.card__link {
  display: block;
  @include font-settings($first-text-size,  2.152, 0.4px);
  text-decoration: underline;
  margin: 0px;
  padding-left: 16px;
  @extend %item;

  &:hover,
  &:focus {
    text-shadow: 1px 1px 5px $first-orange-color;
  }

  @include tablet {
    padding-left: 0px;
    line-height: 1.652;
  }

  @include desktop {
    @include font-height($custom-second-text-size, 1.75);
  }
}
