.container {
  // min-width: 320px;
  // max-width: 320px;
  width: $screen-mobile;
  margin: 0px auto;

  @include tablet {
    width: $screen-tablet;
  }

  @include desktop {
    width: $screen-desktop;
  }

  @include desktop-wide {
    width: $screen-desktop-wide;
  }
}
