.copyright {
  width: 100%;
  padding: 30px 30px 28px;
  background-color: $first-lightdark-color;
  text-align: center;

  @include tablet {
    padding: 30px 40px 28px;
    text-align: left;
  }

  @include desktop {
    padding: 14px 35px 12px;
  }

  @include desktop-wide {
    padding: 14px 155px 12px 187px;
  }
}

.copyright__text {
  margin: 0px;
  letter-spacing: 0.6px;

  @include desktop {
    @include font-settings(14.583px, 2.571, 0.9px);
  }
}
