.footer-form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & input[type='tel']:valid {
    outline: 2px solid #09ab09;
    outline-offset: -2px;
  }

  & input[type='tel']:invalid {
    outline: 2px solid #ff0000;
    outline-offset: -2px;
  }

  @include tablet {
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 1px;
      height: 29px;
      background-color: #e0e0e0;
      top: -2px;
      right: -24px;

      @include desktop {
        top: 5px;
        right: -26px;
      }
    }
  }
}

.footer-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-form__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #ff6b08;

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: #ff6b08;
  }

  @include desktop {
    width: 34px;
    height: 34px;
  }
}

.footer-form__input {
  // max-width: 214px;
  font-size: 18px;
  color: #111517;
  padding: 0px 0px 0px 8px;

  &::-webkit-input-placeholder {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(17, 21, 23);
    font-weight: bold;
    letter-spacing: 0.6px;
  }

  @include tablet {
    // max-width: 304px;
    padding: 0px 0px 0px 8px;

    &::-webkit-input-placeholder {
      letter-spacing: 1.8px;
    }
  }

  @include desktop {
    max-width: 326px;
    font-size: 27px;
    line-height: 1.385;
    padding: 0px 0px 0px 16px;

    &::-webkit-input-placeholder {
      font-size: 27px;
      line-height: 1.385;
      letter-spacing: 1.3px;
    }
  }
}

// .input {
//   width: 230px;
//   @include font-settings($primary-text-size, 1.6);
//   margin: 0px;
//   padding: 12px 0px 10px 12px;
// }
