.footer-form {
  @include center-flex('hor');

  & input[type='tel']:valid {
    outline: 2px solid $first-green-color;
    outline-offset: -2px;
  }

  & input[type='tel']:invalid {
    outline: 2px solid $first-red-color;
    outline-offset: -2px;
  }

  @include tablet {
    position: relative;

    &::after {
      @include pseudo($display: block);
      position: absolute;
      width: 1px;
      height: 29px;
      background-color: $third-white-color;
      top: 5px;
      right: -24px;

      @include desktop {
        top: 5px;
        right: -26px;
      }
    }
  }
}

.footer-form__label {
  @include center-flex('ver');
}

.footer-form__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: $first-orange-color;

  &:hover,
  &:focus {
    fill: $first-white-color;
    background-color: $first-orange-color;
  }

  @include desktop {
    width: 34px;
    height: 34px;
  }
}

.footer-form__input {
  max-width: 218px;
  @include font-settings($eigth-text-size, 2.083, 0.8px);
  padding: 0px 0px 0px 8px;

  &::-webkit-input-placeholder {
    @include font-settings($eigth-text-size, 2.083, 0.8px);
    @include font-family-settings($font-family-monts, $font-weight-bold, $first-lightdark-color);
  }

  @include tablet {
    max-width: 304px;
    padding: 0px 0px 0px 8px;

    &::-webkit-input-placeholder {
      letter-spacing: 1.8px;
    }
  }

  @include desktop {
    max-width: 326px;
    @include font-height($twenty-seven-text-size, 1.385);
    padding: 0px 0px 0px 16px;

    &::-webkit-input-placeholder {
      @include font-settings($twenty-seven-text-size, 1.385, 1.3px);
    }
  }
}
