.section-training__wrapper {
  @include tablet {
    @include center-flex('spbtw');
    flex-wrap: nowrap;
  }

  @include desktop {
    padding: 0px 35px;
  }

  @include desktop-wide {
    padding: 0px;
  }
}

.section-training__content {
  @include center-flex('col');
  align-items: start;

  @include tablet {
    @include center-flex('col');
    justify-content: start;
    max-width: 280px;
  }

  @include desktop {
    max-width: 498px;
    padding-top: 53px;
  }

  @include desktop-wide {
    max-width: 610px;
    padding-top: 70px;
  }
}

.section-training__title {
  @include font-settings($tenth-text-size, 1.45, 0.6px);
  text-align: left;
  margin: 0px 0px 26px 0px;

  @include tablet {
    @include font-height($twenty-six-text-size, 1.291);
    padding-top: 8px;
    margin: 0px 0px 26px 0px;
  }

  @include desktop {
    @include font-settings($forty-eight-text-size, 1.208, 1.05px);
    margin: 0px 0px 28px 0px;
  }

  @include desktop-wide {
    @include font-settings($custom-fifth-text-size, 1.34, 1.4px);
    margin-bottom: 24px;
  }
}

.section-training__slogan {
  @include font-settings($fifth-text-size, 1.386, 0.623px);
  text-align: left;
  margin: 0px 0px 34px 0px;
  letter-spacing: 0.6px;

  &::first-line {
    font-weight: $font-weight-medium;
    color: $second-lightgrey-color;
  }

  &--colortext {
    color: $first-orange-color;
  }

  @include tablet {
    line-height: 1.35;
    margin-bottom: 32px;
  }

  @include desktop {
    min-width: 480px;
    @include font-settings($eigth-text-size, 1.463, 0.8px);
    margin-bottom: 63px;
  }

  @include desktop-wide {
    min-width: 540px;
    @include font-settings($twenty-one-text-size, 1.6, 1px);
    margin-bottom: 40px;
  }
}

.section-training__button {
  margin: 0px auto 34px;

  @include tablet {
    margin: 0px;
  }

  @include desktop {
    letter-spacing: 2.2px;
  }

  @include desktop-wide {}
}

.section-training__img {
  max-width: 216px;
  margin: 0px auto;

  @include tablet {
    max-width: 370px;
    margin: 0px;
  }

  @include desktop {
    max-width: 682px;
    margin: 0px;
  }

  @include desktop-wide {
    max-width: 840px;
    margin: 0px;
  }
}
