.header {
  display: flex;
  background-color: #ffffff;

  // @media (min-resolution: 192dpi),
  // (min-resolution: 2dppx) {
  //   .header {
  //     background-image: linear-gradient(0deg, $ligth-gradient-color, $dark-gradient-color), url('../images/bgr@2x.png');
  //   }
  // }
}

.header__wrapper {
  min-height: 650px;
  background-image: url('../../images/bgr-01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.header__navigation {
  margin-bottom: 52px;
  padding: 26px 0px 0px;
}

// .header__section-training {
//   // margin-bottom: 74px;
// }

// .header__title {
//   @include font-settings(150px, 1);
//   margin: 0px 0px 98px;
// }
