.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.header__wrapper {
  background-image: url('../../images/bgr-01.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 54px;
  padding: 26px 20px 0px;
}

.header__navigation {
  margin-bottom: 52px;
}

.header__section-training {
  margin-bottom: 90px;
}

// .header__title {
//   @include font-settings(150px, 1);
//   margin: 0px 0px 98px;
// }

@media screen and (min-width: 768px) {
  .header__wrapper {
    background-image: url('../../images/bgr-tablet.png');
    margin-bottom: 54px;
    padding: 32px 40px 0px;
  }

  .header__navigation {
    margin-bottom: 62px;
  }

  .header__section-training {
    margin-bottom: 114px;
  }
}

@media screen and (min-width: 1280px) {
  .header__wrapper {
    background-image: url('../../images/bgr-desk.png');
    margin-bottom: 86px;
    padding: 38px 0px 0px;
  }

  .header__navigation {
    margin-bottom: 44px;
  }

  .header__section-training {
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 1680px) {
  .header__wrapper {
    background-image: url('../../images/bgr-desk-larg.png');
    padding: 28px 50px 0px 184px;
    margin-bottom: 126px;
  }

  .header__navigation {
    margin-bottom: 48px;
  }

  .header__section-training {
    margin-bottom: 110px;
  }
}
