.list-warranty {
  display: flex;
  flex-direction: column;
  text-align: left;
  @extend %list;
  padding: 24px 0px 0px 6px;
}

.list-warranty__item {
  position: relative;
  padding-left: 30px;

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 13px;
    height: 18px;
    background-image: url(../../images/icons-svg/fire3x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0px;
    left: -7px;
    z-index: 1;
  }

  &:nth-last-of-type(-3n+1) {
    border-left: 1px dotted #f1f1f1;

    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 2px;
      height: 18px;
      border: none;
      border-left: 1px dotted #bbbbbb;
      top: 0px;
      left: -1px;
    }
  }

  &:not(:nth-last-of-type(-3n+1)) {
    padding-bottom: 18px;
  }

  &:not(:nth-last-of-type(-3n+1)) {
    border-left: 1px dotted #bbbbbb;
  }
}

.list-warranty__text {
  font-size: 11px;
  color: rgb(24, 25, 29);
  line-height: 1.818;
  margin: 0px;
  word-spacing: 3px;
  white-space: pre-line;
}

.list-warranty__text--colortext {
  color: #ff6b08;
  word-spacing: 5px;
}

@media screen and (min-width: 768px) {
  .list-warranty {
    padding: 32px 0px 0px 6px;
  }

  .list-warranty__text {
    white-space: initial;
  }
}

@media screen and (min-width: 1280px) {
  .list-warranty {
    padding: 46px 0px 0px 6px;
    margin-bottom: 46px;
  }

  .list-warranty__item {
    padding-left: 46px;

    &::before {
      width: 20px;
      height: 27px;
      top: 0px;
      left: -7px;
    }

    &:not(:nth-last-of-type(-3n+1)) {
      padding-bottom: 26px;
    }
  }

  .list-warranty__text {
    font-size: 18px;
    line-height: 1.62;
    padding: 0px 20px 0px 0px;
  }

}
