.list-warranty {
  @include center-flex('col');
  text-align: left;
  @extend %list;
  padding: 24px 0px 0px;

  @include tablet {
    padding: 34px 0px 0px;
  }

  @include desktop {
    padding: 44px 0px 0px;
    margin-bottom: 46px;
  }

  @include desktop-wide {
    padding: 60px 0px 0px;
    margin-bottom: 56px;
  }
}

.list-warranty__item {
  position: relative;
  padding-left: 30px;

  &::before {
    @include pseudo($display: block);
    width: 13px;
    height: 18px;
    background-color: $fourth-white-color;
    @include bgr-image('../images/icons-svg/fire3x.svg', cover, no-repeat);
    background-position: center;
    @include absolute-tl(absolute, 0px, -7px);
    z-index: 1;
  }

  &:nth-last-of-type(-3n+1) {
    border-left: 1px dotted $fourth-white-color;

    &::after {
      @include pseudo($display: block);
      width: 2px;
      height: 18px;
      border: none;
      border-left: 1px dotted $third-lightgrey-color;
      @include absolute-tl(absolute, 0px, -1px);
    }
  }

  &:not(:nth-last-of-type(-3n+1)) {
    padding-bottom: 20px;
  }

  &:not(:nth-last-of-type(-3n+1)) {
    border-left: 1px dotted $third-lightgrey-color;
  }

  @include tablet {
    &:not(:nth-last-of-type(-3n+1)) {
      padding-bottom: 18px;
    }
  }

  @include desktop {
    padding-left: 48px;

    &::before {
      width: 20px;
      height: 38px;
      background-size: 20px 28px;
      top: 0px;
      left: -10px;
    }

    &:not(:nth-last-of-type(-3n+1)) {
      padding-bottom: 24px;
    }
  }

  @include desktop-wide {
    padding-left: 48px;

    &::before {
      top: -4px;
    }

    &:not(:nth-last-of-type(-3n+1)) {
      padding-bottom: 24px;
    }
  }
}

.list-warranty__text {
  @include font-height($first-text-size, 1.818);
  margin: 0px;
  word-spacing: 3px;

  &--position {
    padding-right: 10px;
  }

  &--newline {
    display: none;
  }

  &--location {
    display: none;
  }

  &--newstring {
    display: none;
  }

  &--colortext {
    color: $first-orange-color;
    word-spacing: 5px;
  }

  @include tablet {
    white-space: initial;

    &--position {
      padding-right: 0px;
    }

    &--location {
      display: block;
    }
  }

  @include desktop {
    @include font-settings($eigth-text-size, 1.62, 0.5px);
    padding: 0px;

    &--position {
      padding-right: 0px;
    }

    &--placing {
      padding-right: 0px;
    }

    &--location {
      display: none;
    }

    &--newstring {
      display: block;
    }
  }

  @include desktop-wide {
    @include font-settings($twenty-one-text-size, 1.4, 0.7px);

    &--newline {
      display: block;
    }

    &--newstring {
      display: none;
    }
  }
}
