.list-program {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @extend %list;
  counter-reset: count-program;
  padding: 0px 50px 0px 83px;
  position: relative;
}

.list-program__item {
  @extend %link;
  position: relative;
  padding-left: 30px;

  &::before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff6b08;
    position: absolute;
    top: 15px;
    left: -6px;
    transform: translateY(-50%);
  }

  &:not(:last-child) {
    border-left: 2px solid #546264;
  }

  &:first-child {
    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      background-color: #111517;
      top: 0px;
      left: -3px;
    }
  }

  &:nth-last-of-type(-3n+1) {
    border-left: 2px solid #111517;

    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 2px;
      height: 10px;
      border: none;
      border-left: 2px solid #546264;
      top: 0px;
      left: -2px;
    }
  }
}

.list-program__item:not(:nth-last-of-type(-2n+1)) {
  padding-bottom: 20px;
}

.list-program__title {
  font-size: 15px;
  line-height: 1.944;
  text-transform: uppercase;
  margin: 0px 0px 10px;
  counter-increment: count-program;

  &::before {
    content: counter(count-program);
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.944;
    margin-right: 8px;
  }
}

.list-program__contents {
  display: flex;
  flex-direction: column;
  @extend %list;
  // margin-bottom: 20px;
}

.list-program__content {
  width: 155px;
  @extend %link;

  &:not(:nth-last-of-type(-2n+1)) {
    margin: 0px 0px 12px;
  }
}

.list-program__segment {
  display: block;
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb(255, 107, 8);
  line-height: 2.244;
  position: relative;
  margin: 0px 0px 12px 38px;

  &::before {
    display: block;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    position: absolute;
    top: 50%;
    left: -38px;
    transform: translateY(-50%);
  }
}

.list-program__hidden-element {
  opacity: 0;
}

.list-program__text {
  font-size: 11px;
  color: rgba(133, 133, 133, 0.502);
  line-height: 1.818;
  padding: 0px;
  margin: 0px;
  white-space: pre-line;
}

@media screen and (min-width: 768px) {
  .list-program {
    padding: 0px 50px 0px 90px;
    position: relative;
  }

  .list-program__item {
    padding-left: 50px;
  }

  .list-program__contents {
    display: flex;
    flex-direction: row;
  }

  .list-program__item:not(:nth-last-of-type(-2n+1)) {
    padding-bottom: 38px;
  }

  .list-program__content:not(:nth-last-of-type(-2n+1)) {
    margin: 0px 26px 0px 0px;
  }


  // .menu-actions__item:not(:nth-last-of-type(-3n+1)) {
  //   margin-bottom: 16px;
  // }

  // .menu-actions__item:nth-last-of-type(-n+2) {
  //   margin-bottom: 40px;
  // }
}
