.list-program {
  @include center-flex('col');
  @extend %list;
  counter-reset: count-program;
  padding: 0px 40px 0px 83px;
  position: relative;

  @include tablet {
    padding: 0px 50px 0px 90px;
  }

  @include desktop {
    @include center-flex('spbtw');
    padding: 42px 24px 0px 35px;
    border-top: 2px solid $second-grey-color;
  }

  @include desktop-wide {
    padding: 58px 140px 0px 186px;
    border-top: 4px solid $second-grey-color;
  }
}

.list-program__item {
  @extend %link;
  position: relative;
  padding-left: 30px;

  &::before {
    @include pseudo($display: block);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $first-orange-color;
    @include absolute-tl(absolute, 15px, -6px);
    transform: translateY(-50%);
  }

  &:not(:last-child) {
    border-left: 2px solid $second-grey-color;
  }

  &:first-child {
    &::after {
      @include pseudo($display: block);
      width: 5px;
      height: 10px;
      background-color: $first-lightdark-color;
      @include absolute-tl(absolute, 0px, -3px);
    }
  }

  &:nth-last-of-type(-3n+1) {
    border-left: 2px solid $first-lightdark-color;

    &::after {
      @include pseudo($display: block);
      width: 2px;
      height: 10px;
      border: none;
      border-left: 2px solid $second-grey-color;
      @include absolute-tl(absolute, 0px, -2px);
    }
  }

  &:first-child {
    padding-bottom: 32px;
  }

  &:not(:last-child) {
    padding-bottom: 26px;
  }

  &:nth-of-type(3) {
    padding-bottom: 22px;
  }

  @include tablet {
    padding: 0px 0px 0px 50px;

    &:not(:nth-last-of-type(-2n+1)) {
      padding-bottom: 24px;
    }

    &:nth-of-type(3) {
      padding-bottom: 36px;
    }

    &--fifth {
      padding-top: 10px;

      &::before {
        top: 25px;
        left: -6px;
      }
    }

    &:nth-last-of-type(-3n+1) {
      border-left: 2px solid $first-lightdark-color;

      &::after {
        height: 20px;
      }
    }
  }

  @include desktop {
    padding-left: 0px;
    border-left: none;
    max-width: 220px;
    position: relative;

    &::before {
      width: 16px;
      height: 16px;
      top: -40px;
      left: 0px;
    }

    &:not(:last-child) {
      border-left: none;
    }

    &:first-child {
      &::after {
        display: none;
      }
    }

    &:nth-last-of-type(-3n+1) {
      border-left: none;

      &::after {
        display: none;
      }
    }

    &--second {
      @include absolute-tl(absolute, 42px, 300px);
    }

    &--third {
      @include absolute-tl(absolute, 42px, 570px);
    }

    &--fourth {
      max-width: 240px;
      @include absolute-tr(absolute, 42px, 200px);
    }

    &--fifth {
      padding-top: 0px;
    }

    &:not(:nth-last-of-type(-2n+1)) {
      padding-bottom: 0px;
    }
  }

  @include desktop-wide {
    padding-left: 0px;
    min-width: 154px;

    &::before {
      width: 20px;
      height: 20px;
      top: -61px;
    }

    &--second {
      @include absolute-tl(absolute, 58px, 488px);
    }

    &--third {
      @include absolute-tl(absolute, 58px, 780px);
    }

    &--fourth {
      max-width: 270px;
      @include absolute-tr(absolute, 58px, 350px);
    }

    &--fifth {
      max-width: 240px;
      padding-top: 0px;
      @include absolute-tr(absolute, 58px, 134px);
    }
  }
}

.list-program__title {
  @include font-settings($fifth-text-size, 1.944, 1.2px);
  text-transform: uppercase;
  margin: 0px 0px 10px;
  counter-increment: count-program;

  &::before {
    content: counter(count-program);
    @include font-height($fifth-text-size, 1.944);
    @include font-family-settings($font-family-monts, $font-weight-bold, $first-white-color);
    text-transform: uppercase;
    margin-right: 8px;
  }

  @include tablet {
    margin: 0px 0px 10px;
  }

  @include desktop {
    @include font-settings($ninth-text-size, 1.535, 1.3px);
    margin: 0px 0px 30px;

    &::before {
      content: counter(count-program);
      @include font-height($ninth-text-size, 1.535);
    }
  }

  @include desktop-wide {
    @include font-settings($twenty-one-text-size, 1, 1.8px);
    margin: 0px 0px 24px;

    &::before {
      @include font-height($twenty-nine-text-size, 1);
    }
  }
}

.list-program__contents {
  @include center-flex('col');
  @extend %list;

  @include tablet {
    @include center-flex('row');
    flex-wrap: nowrap;
  }

  @include desktop {
    @include center-flex('col');
  }
}

.list-program__content {
  @extend %link;

  &:not(:nth-last-of-type(-2n+1)) {
    margin: 0px 0px 4px;
  }

  @include tablet {
    min-width: 158px;

    &:not(:nth-last-of-type(-2n+1)) {
      margin: 0px 22px 0px 0px;
    }
  }

  @include desktop {
    width: 100%;

    &:not(:nth-last-of-type(-2n+1)) {
      margin: 0px 0px 24px 0px;
    }
  }

  @include desktop-wide {
    &:not(:nth-last-of-type(-2n+1)) {
      margin: 0px 0px 22px 0px;
    }
  }
}

.list-program__segment {
  display: block;
  @include font-settings($third-text-size, 2.244, 1.15px);
  position: relative;
  margin: 0px 0px 11px 38px;

  &::before {
    @include pseudo($display: block);
    width: 25px;
    height: 2px;
    background-color: $first-orange-color;
    @include absolute-tl(absolute, 50%, -38px);
    transform: translateY(-50%);
  }

  &--vocabulary {
    padding-top: 8px;

    @include tablet {
      padding-top: 0px;
    }
  }

  @include desktop {
    @include font-height($eigth-text-size, 1.62);
    margin: 0px 0px 10px 38px;
  }

  @include desktop-wide {
    @include font-height($twenty-one-text-size, 1.4);
    margin: 0px 0px 12px 38px;
  }
}

.list-program__hidden-element {
  opacity: 0;
}

.list-program__text {
  @include font-settings($first-text-size, 1.818, 1.1px);
  color: $first-grey-opacity-color;
  padding: 0px;
  margin: 0px;
  white-space: pre-line;

  &--locaton {
    display: none;
  }

  @include tablet {
    letter-spacing: 1px;

    &--locaton {
      display: none;
    }
  }

  @include desktop {
    @include font-height($custom-third-text-size, 1.556);
    padding: 0px;
    margin: 0px;

    &--word {
      display: none;
    }

    &--location {
      display: none;
    }
  }

  @include desktop-wide {
    &--word {
      display: block;
    }
  }
}
