.list-program {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @extend %list;
  counter-reset: count-program;
  padding: 0px 40px 0px 83px;
  position: relative;

  @include tablet {
    padding: 0px 50px 0px 90px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    padding: 42px 24px 0px 35px;
    border-top: 2px solid #546264;
  }

  @include desktop-wide {
    padding: 58px 140px 0px 186px;
    border-top: 4px solid #546264;
  }
}

.list-program__item {
  @extend %link;
  position: relative;
  padding-left: 30px;

  &::before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff6b08;
    position: absolute;
    top: 15px;
    left: -6px;
    transform: translateY(-50%);
  }

  &:not(:last-child) {
    border-left: 2px solid #546264;
  }

  &:first-child {
    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      background-color: #111517;
      top: 0px;
      left: -3px;
    }
  }

  &:nth-last-of-type(-3n+1) {
    border-left: 2px solid #111517;

    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 2px;
      height: 10px;
      border: none;
      border-left: 2px solid #546264;
      top: 0px;
      left: -2px;
    }
  }

  &:first-child {
    padding-bottom: 32px;
  }

  &:not(:last-child) {
    padding-bottom: 26px;
  }

  &:nth-of-type(3) {
    padding-bottom: 22px;
  }

  @include tablet {
    padding: 0px 0px 0px 50px;

    &:not(:nth-last-of-type(-2n+1)) {
      padding-bottom: 24px;
    }

    &:nth-of-type(3) {
      padding-bottom: 36px;
    }

    &--fifth {
      padding-top: 10px;

      &::before {
        top: 25px;
        left: -6px;
      }
    }

    &:nth-last-of-type(-3n+1) {
      border-left: 2px solid #111517;

      &::after {
        height: 20px;
      }
    }
  }

  @include desktop {
    padding-left: 0px;
    border-left: none;
    max-width: 220px;
    position: relative;
    // width: 200px;

    &::before {
      width: 16px;
      height: 16px;
      top: -40px;
      left: 0px;
    }

    &:not(:last-child) {
      border-left: none;
    }

    &:first-child {
      &::after {
        display: none;
      }
    }

    &:nth-last-of-type(-3n+1) {
      border-left: none;

      &::after {
        display: none;
      }
    }

    &--second {
      position: absolute;
      top: 42px;
      left: 300px;
    }

    &--third {
      position: absolute;
      top: 42px;
      left: 570px;
    }

    &--fourth {
      position: absolute;
      max-width: 240px;
      top: 42px;
      right: 200px;
    }

    &--fifth {
      padding-top: 0px;
    }

    &:not(:nth-last-of-type(-2n+1)) {
      padding-bottom: 0px;
    }
  }

  @include desktop-wide {
    padding-left: 0px;
    min-width: 154px;

    &::before {
      width: 20px;
      height: 20px;
      top: -61px;
    }

    &--second {
      position: absolute;
      top: 58px;
      left: 488px;
    }

    &--third {
      position: absolute;
      top: 58px;
      left: 780px;
    }

    &--fourth {
      position: absolute;
      max-width: 270px;
      top: 58px;
      right: 350px;
    }

    &--fifth {
      position: absolute;
      max-width: 240px;
      padding-top: 0px;
      top: 58px;
      right: 134px;
    }
  }
}

.list-program__title {
  font-size: 15px;
  line-height: 1.944;
  text-transform: uppercase;
  margin: 0px 0px 10px;
  counter-increment: count-program;
  letter-spacing: 1.2px;

  &::before {
    content: counter(count-program);
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.944;
    margin-right: 8px;
  }

  @include tablet {
    margin: 0px 0px 10px;
  }

  @include desktop {
    font-size: 19px;
    line-height: 1.535;
    margin: 0px 0px 30px;
    letter-spacing: 1.3px;

    &::before {
      content: counter(count-program);
      font-size: 19px;
      line-height: 1.535;
    }
  }

  @include desktop-wide {
    font-size: 21px;
    line-height: 1;
    margin: 0px 0px 24px;
    letter-spacing: 1.8px;

    &::before {
      font-size: 29px;
      line-height: 1;
    }
  }
}

.list-program__contents {
  display: flex;
  flex-direction: column;
  @extend %list;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
  }

  @include desktop-wide {}
}

.list-program__content {
  @extend %link;

  &:not(:nth-last-of-type(-2n+1)) {
    margin: 0px 0px 4px;
  }

  @include tablet {
    min-width: 158px;

    &:not(:nth-last-of-type(-2n+1)) {
      margin: 0px 22px 0px 0px;
    }
  }

  @include desktop {
    width: 100%;

    &:not(:nth-last-of-type(-2n+1)) {
      margin: 0px 0px 24px 0px;
    }
  }

  @include desktop-wide {
    &:not(:nth-last-of-type(-2n+1)) {
      margin: 0px 0px 22px 0px;
    }
  }
}

.list-program__segment {
  display: block;
  font-size: 13px;
  color: rgb(255, 107, 8);
  line-height: 2.244;
  position: relative;
  margin: 0px 0px 11px 38px;
  letter-spacing: 1.15px;

  &::before {
    display: block;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    position: absolute;
    top: 50%;
    left: -38px;
    transform: translateY(-50%);
  }

  &--vocabulary {
    padding-top: 8px;

    @include tablet {
      padding-top: 0px;
    }
  }

  @include desktop {
    font-size: 18px;
    line-height: 1.62;
    margin: 0px 0px 10px 38px;
  }

  @include desktop-wide {
    font-size: 21px;
    line-height: 1.4;
    margin: 0px 0px 12px 38px;
  }
}

.list-program__hidden-element {
  opacity: 0;
}

.list-program__text {
  font-size: 11px;
  color: rgba(133, 133, 133, 0.502);
  line-height: 1.818;
  padding: 0px;
  margin: 0px;
  white-space: pre-line;
  letter-spacing: 1.1px;

  &--locaton {
    display: none;
  }

  @include tablet {
    letter-spacing: 1px;

    &--locaton {
      display: none;
    }
  }

  @include desktop {
    font-size: 18.75px;
    line-height: 1.556;
    padding: 0px;
    margin: 0px;
    // white-space: initial;
    letter-spacing: 1.1px;

    &--word {
      display: none;
    }

    &--location {
      display: none;
    }
  }

  @include desktop-wide {
    &--word {
      display: block;
    }
  }
}