.logo {
  display: inline-block;
  width: 78px;
  @extend %link;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 10px 2px #ff6b08;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 128px;
  }
}
