.logo {
  display: inline-block;
  max-width: 78px;
  max-height: 30px;
  @extend %link;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 10px 2px $first-orange-color;
  }

  @include tablet {
    max-width: 121px;
    max-height: 48px;
    margin-bottom: 6px;
  }
}
