.menu-icons {
  // display: flex;
  // flex-direction: column;
  margin: 0px;
  padding-left: 50px;
  @extend %list;
}

.menu-icons__item {
  display: flex;

  &:not(:nth-last-of-type(-3n+1)) {
    margin-bottom: 24px;
  }
}

.menu-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border: 2px solid #ff6b08;
  @extend %link;
  position: relative;
  margin: 0px 14px 0px 0px;

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 2px;
    height: 36px;
    background: #ffffff;
    right: -2px;
  }
}

.menu-icons__icon {
  fill: #ff6b08;
}

.menu-icons__description {
  max-width: 120px;
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb(24, 25, 29);
  font-weight: bold;
  line-height: 1.538;
  text-align: left;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .menu-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0px;
  }

  .menu-icons__item:not(:nth-last-of-type(-3n+1)) {
    margin-bottom: 0px;
  }

  .menu-icons__link {
    margin-left: 0px;
  }
}
