.menu-problem {
  @extend %list;
  background-color: $first-white-color;
  box-shadow: 4px 6.928px 15.54px 5.46px $second-lightdark-opacity-color;
  padding: 16px 10px 0px 28px;
  counter-reset: count-problem;

  @include tablet {
    @include center-flex('spbtw');
    padding: 30px 76px 0px 108px;

    &--select {
      padding: 18px 76px 0px 108px;
    }
  }

  @include desktop {
    justify-content: flex-start;
    padding: 46px 0px 0px 100px;

    &--select {
      padding: 44px 36px 0px 98px;
    }
  }

  @include desktop-wide {
    padding: 61px 0px 0px 96px;
  }
}

.menu-problem__item {
  counter-increment: count-problem;
  width: 234px;

  &::before {
    content: '0'counter(count-problem);
    @include font-height($fourth-text-size, 2.083);
    @include font-family-settings($font-family-monts, $font-weight-medium, $first-orange-color);
    margin-left: 35px;
  }

  // всі, крім останнього
  &:not(:nth-last-of-type(-3n+1)) {
    margin-bottom: 11px;
  }

  &--selection:not(:nth-last-of-type(-3n+1)) {
    margin-bottom: 12px;
  }

  // останній
  &:nth-last-of-type(-n+1) {
    margin-bottom: 30px;
  }

  @include tablet {
    max-width: 320px;


    // всі, крім 2-x останніх
    &:not(:nth-last-of-type(-3n+1)) {
      margin-bottom: 20px;
    }

    // 2 останні
    &:nth-last-of-type(-n+2) {
      margin-bottom: 36px;
    }
  }

  @include desktop {
    min-width: 290px;

    &--selection {
      padding-right: 0px;
    }

    &::before {
      font-size: 21px;
      line-height: 1.55;
    }

    // 1 і 4 елементи
    &:not(:nth-last-of-type(3n+2)) {
      margin-right: 60px;
    }

    //2, 3, 5 і 6 елементи
    &:not(:nth-last-child(3n)) {
      margin-right: 84px;
    }

    // 3 і 6 елементи
    &:nth-of-type(3n) {
      margin-right: 0px;
      min-width: 300px;
    }

    // 1, 2 і 3 елементи
    &:not(:nth-last-of-type(-2n+1)) {
      margin-bottom: 34px;
    }

    // 4, 5 і 6 елементи
    &:nth-last-of-type(-n+3) {
      margin-bottom: 46px;
    }
  }

  @include desktop-wide {
    min-width: 356px;
    margin: 0;

    // 1 і 4 елементи
    &:not(:nth-last-of-type(3n+2)) {
      margin-right: 42px;
    }

    // 2 і 5 елементи
    &:nth-child(3n+2) {
      margin-right: 78px;
    }

    // 3 і 6 елементи
    &:nth-of-type(3n) {
      margin-right: 0px;
      min-width: 356px;
    }

    // 1, 2 і 3 елементи
    &:not(:nth-last-of-type(-2n+1)) {
      margin-bottom: 38px;
    }

    // 4, 5 і 6 елементи
    &:nth-last-of-type(-n+3) {
      margin-bottom: 72px;
    }
  }
}

.menu-problem__text {
  @include font-settings($third-text-size, 1.538, 0.7px);
  text-align: left;
  margin: 0px;
  position: relative;
  white-space: pre-line;

  &::before {
    @include pseudo($display: block);
    width: 25px;
    height: 2px;
    background-color: $first-orange-color;
    @include absolute-tl(absolute, -16px, 0px);
  }

  &--position::before {
    display: none;
  }

  @include tablet {
    white-space: initial;
    letter-spacing: 0.6px;

    &--format {
      letter-spacing: 1.1px;
    }

    &--position {
      padding-right: 70px;
    }
  }

  @include desktop {
    @include font-settings($eigth-text-size, 1.6, 1.15px);
    padding-top: 6px;
    white-space: initial;

    &--position {
      padding-right: 0px;
    }

    &::before {
      top: -16px;
    }
  }

  @include desktop-wide {
    @include font-height($twenty-one-text-size, 1.4);
    white-space: initial;
    padding-top: 8px;

    &--position {
      padding-right: 20px;
    }
  }
}
