.menu-problem {
  @extend %list;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
  padding: 18px 28px 0px;
  counter-reset: count-problem;
}

.menu-problem__item {
  counter-increment: count-problem;
  width: 230px;

  &::before {
    content: '0'counter(count-problem);
    font-size: 14px;
    font-family: "Montserrat";
    color: #ff6b08;
    line-height: 2.083;
    margin-left: 35px;
  }
}

// всі, крім останнього
.menu-problem__item:not(:nth-last-of-type(-3n+1)) {
  margin-bottom: 12px;
}

// останній
.menu-problem__item:nth-last-of-type(-n+1) {
  margin-bottom: 30px;
}

.menu-problem__text {
  font-size: 13px;
  color: rgb(24, 25, 29);
  line-height: 1.538;
  text-align: left;
  margin: 0px;
  position: relative;
  white-space: pre-line;
  letter-spacing: 0.9px;

  &::before {
    display: block;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    position: absolute;
    top: -16px;
  }

  &--position::before {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-problem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 90px 0px 108px;
  }

  .menu-problem__item {
    max-width: 218px;
  }

  .menu-problem__item:not(:nth-last-of-type(-3n+1)) {
    margin-bottom: 20px;
  }

  .menu-problem__item:nth-last-of-type(-n+2) {
    margin-bottom: 30px;
  }

  .menu-problem__text {
    white-space: initial;
    letter-spacing: 1.1px;

    &--position {
      padding-right: 60px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .menu-problem {
    justify-content: flex-start;
    padding: 30px 90px 0px 108px;
  }

  .menu-problem {
    // padding: 46px 130px 0px 100px;
    padding: 46px 0px 0px 100px;
  }

  .menu-problem__item {
    min-width: 290px;


    &::before {
      font-size: 21px;
      line-height: 1.55;
    }
  }

  // 1 і 4 елементи
  .menu-problem__item:not(:nth-last-of-type(3n+2)) {
    margin-right: 60px;
  }

  //2, 3, 5 і 6 елементи
  .menu-problem__item:not(:nth-last-child(3n)) {
    margin-right: 80px;
  }

  // 3 і 6 елементи
  .menu-problem__item:nth-of-type(3n) {
    margin-right: 0px;
    min-width: 300px;
  }

  // 1, 2 і 3 елементи
  .menu-problem__item:not(:nth-last-of-type(-2n+1)) {
    margin-bottom: 34px;
  }

  // 4, 5 і 6 елементи
  .menu-problem__item:nth-last-of-type(-n+3) {
    margin-bottom: 46px;
  }

  .menu-problem__text {
    font-size: 18px;
    line-height: 1.6;
    padding-top: 6px;
    white-space: initial;
    letter-spacing: 1.15px;

    &--position {
      padding-right: 0px;
    }

    &::before {
      top: -16px;
    }
  }
}

@media screen and (min-width: 1680px) {
  .menu-problem {
    padding: 58px 0px 0px 96px;
  }

  .menu-problem__item {
    min-width: 356px;
    margin: 0;
  }

  // 1 і 4 елементи
  .menu-problem__item:not(:nth-last-of-type(3n+2)) {
    margin-right: 42px;
  }

  // 2 і 5 елементи
  .menu-problem__item:nth-child(3n+2) {
    margin-right: 78px;
  }

  // 3 і 6 елементи
  .menu-problem__item:nth-of-type(3n) {
    margin-right: 0px;
    min-width: 356px;
  }

  // 1, 2 і 3 елементи
  .menu-problem__item:not(:nth-last-of-type(-2n+1)) {
    margin-bottom: 38px;
  }

  // 4, 5 і 6 елементи
  .menu-problem__item:nth-last-of-type(-n+3) {
    margin-bottom: 78px;
  }

  .menu-problem__text {
    font-size: 21px;
    line-height: 1.4;
    white-space: initial;
    padding-top: 8px;

    &--position {
      padding-right: 20px;
    }
  }
}
