.menu-icons {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-left: 50px;
  @extend %list;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }

  @include desktop {
    padding: 0px 0px 0px 35px;
  }

  @include desktop-wide {
    padding: 0px;
  }
}

.section-icons__wrapper {
  @include desktop-wide {
    padding-right: 106px;
  }
}

.menu-icons__item {
  display: flex;
  flex-direction: row;

  &:not(:nth-last-of-type(-3n+1)) {
    margin-bottom: 24px;
  }

  @include tablet {
    position: relative;
    flex-basis: 160px;

    &--third {
      left: -20px;
    }

    &:not(:nth-last-of-type(-3n+1)) {
      margin-bottom: 0px;
    }
  }

  @include desktop {
    align-items: center;

    &--first {
      left: 0px;
      flex-basis: 384px;

      .menu-icons__description {
        flex-basis: 298px;
      }
    }

    &--second {
      left: -12px;
      flex-basis: 350px;

      .menu-icons__description {
        flex-basis: 264px;
      }
    }

    &--third {
      left: -32px;
      flex-basis: 322px;

      .menu-icons__description {
        flex-basis: 236px;
      }
    }
  }

  @include desktop-wide {
    align-items: center;

    &--first {
      left: 0px;
      flex-basis: 430px;

      .menu-icons__description {
        flex-basis: 344px;
      }
    }

    &--second {
      left: -6px;
      flex-basis: 336px;

      .menu-icons__description {
        flex-basis: 250px;
      }
    }

    &--third {
      left: -12px;
      flex-basis: 366px;

      .menu-icons__description {
        flex-basis: 280px;
      }
    }
  }
}

.menu-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border: 2px solid #ff6b08;
  @extend %link;
  position: relative;
  margin: 0px 14px 0px 0px;

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 2px;
    height: 36px;
    background: #ffffff;
    right: -2px;
  }

  @include tablet {
    margin-left: 0px;
  }

  @include desktop {
    width: 104px;
    height: 104px;
    margin: 0px;

    &::after {
      height: 72px;
    }
  }

  @include desktop-wide {}
}

.menu-icons__icon {
  width: 36px;
  height: 36px;
  fill: #ff6b08;

  @include tablet {}

  @include desktop {
    width: 46px;
    height: 46px;
  }

  @include desktop-wide {}
}

.menu-icons__description {
  flex-basis: 120px;
  font-size: 13px;
  color: rgb(24, 25, 29);
  line-height: 1.538;
  text-align: left;
  margin: 0px;
  // padding-right: 40px;

  @include tablet {
    flex-basis: 90px;
    margin: 0px;
  }

  @include desktop {
    font-size: 18px;
    line-height: 1.556;
    margin: -18px;
    z-index: 1;
    letter-spacing: 1px;
  }

  @include desktop-wide {
    font-size: 21px;
    line-height: 1.6;
  }
}
