.menu {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  @extend %list;
}

.menu__item {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu__item--button {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    align-items: center;
    // @extend %list;

  }

  .menu__item {
    display: block;
    // @extend %link;

  }

  .menu__item:not(:last-child) {
    margin-right: 44px;
  }

  .menu__link {
    font-size: 12px;
    font-family: "Tahoma";
    color: rgb(185, 185, 185);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 9.167;
    // @extend %link;
  }

  .menu__item:hover,
  .menu__item:focus {
    color: rgb(255, 107, 8);
  }
}


// .menu {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: flex-end;
//   margin: 0px;
// }

// .menu__item {
//   position: relative;
//   @extend %item;

//   &:not(:nth-child(7n)) {
//     margin-right: 52px;
//   }
// }

// .menu__link {
//   @extend %link;
//   font-size: 14px;

//   &::after {
//     position: absolute;
//     content: '';
//     width: 0;
//     height: 3px;
//     background: $primary-yelow-color;
//     bottom: -12px;
//     left: 50%;
//     transition: all 0.2s linear;
//   }

//   &:hover::after,
//   &:focus::after {
//     width: 100%;
//     left: 0;
//   }

//   &:hover,
//   &:focus {
//     color: $primary-yelow-color;
//   }
// }

// .menu__icon {
//   @extend %icon;
//   fill: $primary-white-color;

//   &:hover,
//   &:focus {
//     fill: $primary-yelow-color;
//   }
// }
