.menu {
  @include center-flex('ver');
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  text-transform: uppercase;
  @extend %list;

  // @include tablet {}

  @include desktop {
    flex-basis: 908px;
    justify-content: space-between;
  }

  @include desktop-wide {
    flex-basis: 1072px;
  }
}

.menu__item {
  display: none;
  @extend %link;

  @include tablet {
    &--button {
      display: block;
    }
  }

  @include desktop {
    display: block;
  }

  @include desktop-wide {}
}

.menu__link {
  @include desktop {
    @include font-settings($second-text-size, 1.9, 1px);
    // font-size: 12px;
    // line-height: 1.9;
    // letter-spacing: 1px;
    // color: #b9b9b9;
    text-transform: uppercase;
    text-decoration: none;
    
    &:hover,
    &:focus {
      color: $first-orange-color;
    }
  }
  
  @include desktop-wide {
    @include font-settings($fourth-text-size, 1.857, 1px);
    // font-size: 14px;
    // line-height: 1.857;
    // letter-spacing: 1px;
    // color: #b9b9b9;
    // text-transform: uppercase;
    // text-decoration: none;
  }
}