.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  @extend %list;

  // @include tablet {}

  @include desktop {
    flex-basis: 908px;
    justify-content: space-between;
  }

  @include desktop-wide {
    flex-basis: 1072px;
  }
}

.menu__item {
  display: none;
  @extend %link;

  @include tablet {
    &--button {
      display: block;
    }
  }

  @include desktop {
    display: block;
  }

  @include desktop-wide {}
}

.menu__link {
  @include desktop {
    font-size: 12px;
    line-height: 1.9;
    color: rgb(185, 185, 185);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;

    &:hover,
    &:focus {
      color: rgb(255, 107, 8);
    }
  }

  @include desktop-wide {
    font-size: 14px;
    line-height: 1.9;
    // line-height: 7.857;
    line-height: 1.857;
    color: rgb(185, 185, 185);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
  }
}