.navigation {
  @include center-flex('spbtw');
  align-items: center;

  @include desktop {
    padding: 0px 35px;
  }

  @include desktop-wide {
    padding: 0px 106px 0px 0px;
  }
}

.navigation__logo {
  @include tablet {
    margin-right: 204px;
  }

  @include desktop {
    margin-right: 0px;
  }
}
