.section-problem {
  display: flex;
  min-height: 676px;
}

.section-problem__wrapper {
  display: flex;
  flex-direction: column;
  height: 520px;
  background: #111517;
  padding: 46px 20px 0px;
}

.section-problem__title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  margin: 0px 0px 16px 0px;
  padding: 0px 40px 0px 0px;
}

.section-problem__colortext {
  color: #ff6b08;
}

// .section-problem__menu-problem {
//   margin-bottom: 30px;
// }
