.section-warranty__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-warranty__title {
  font-size: 20px;
  color: #111517;
  margin: 0px 0px 20px;

}

.section-warranty__wrapper-list {
  padding: 0px 22px;
  background: #f1f1f1;

}

.section-warranty__items {
  margin-bottom: 22px;
}
