.section-choosing {
  background: linear-gradient(
    0deg,
    $first-white-color 33.6%,
    $first-lightdark-color 33.6%
  );

  @include tablet {
    background: linear-gradient(
      0deg,
      $first-white-color 46.1%,
      $first-lightdark-color 46.1%
    );
  }

  @include desktop {
    height: auto;
    background: $first-lightdark-color;
  }

  @include desktop-wide {
    min-height: 610px;
      background: linear-gradient(
      0deg,
      $first-white-color 50%,
      $first-lightdark-color 50%
    );
  }
}

.section-choosing__wrapper {
  @include center-flex('col');
  flex-wrap: nowrap;
  height: auto;
  padding: 0px 20px;
  margin-bottom: 42px;

  @include tablet {
    padding: 0px 40px;
    margin-bottom: 44px;
  }

  @include desktop {
    height: auto;
    padding: 0px 35px;
    margin-bottom: 0px;
  }

  @include desktop-wide {
    height: 306px;
    padding: 0px 156px 0px 186px;
  }
}

.section-choosing__title {
  @include font-settings($tenth-text-size, 1.5, 1.2px);
  text-align: left;
  margin: 0px 0px 16px 0px;
  padding: 0px 20px 0px 0px;
  white-space: pre-line;

  @include tablet {
    @include font-settings($twenty-six-text-size, 1.2, 1.5px);
    text-align: center;
    margin-bottom: 22px;
    white-space: initial;
    padding: 0px 6px 0px 0px;
  }

  @include desktop {
    @include font-settings($forty-two-text-size, 1.346, 2px);
    margin-bottom: 32px;
    z-index: 2;
  }

  @include desktop-wide {
    @include font-height($forty-six-text-size, 1.365);
    padding-right: 30px;
    margin-bottom: 46px;
    z-index: 2;
  }
}

.section-choosing__menu-problem {
  z-index: 1;
}
