.section-program {
  display: flex;
  position: relative;
  background-color: #111517;
}

.section-program__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  // background: #111517;

  @include tablet {
    padding: 47px 40px 0px;
    margin-bottom: 160px;
  }

  @include desktop {
    padding: 66px 0px 0px;
    min-height: 720px;
    margin-bottom: 66px;
  }

  @include desktop-wide {
    padding: 116px 0px 0px 0px;
    min-height: 836px;
    margin-bottom: 76px;
  }
}

.section-program__title {
  font-size: 20px;
  line-height: 1.65;
  margin: 0px 0px 23px 0px;
  text-align: center;
  letter-spacing: 1.2px;

  @include tablet {
    font-size: 26px;
    line-height: 2.405;
    margin-bottom: 30px;
    text-align: left;
  }

  @include desktop {
    font-size: 42px;
    line-height: 1.489;
    padding-left: 35px;
    margin-bottom: 30px;
    text-align: left;
    letter-spacing: 2px;
  }

  @include desktop-wide {
    font-size: 46px;
    line-height: 1.365;
    padding-left: 186px;
    margin-bottom: 82px;
  }
}

.section-program__list {
  margin-bottom: 34px;

  @include tablet {
    margin-bottom: 0px;
  }

  @include desktop-wide {}
}

.section-program__img {
  width: 142px;
  height: 169px;
  background-image: url(../../images/pic.png);
  position: absolute;
  right: 0px;
  bottom: -90px;

  @include tablet {
    width: 404px;
    height: 282px;
    background-image: url(../../images/pic-tabl.png);
    right: 0px;
    bottom: 52px;
  }

  @include desktop {
    width: 546px;
    height: 364px;
    background-image: url(../../images/pic-desk.png);
    left: 0px;
    bottom: -136px;
  }

  @include desktop-wide {
    width: 700px;
    height: 485px;
    background-image: url(../../images/pic-desk-larg.png);
    left: 0px;
    bottom: -248px;
  }
}
