.section-problem {
  min-height: 676px;
}

.section-problem__wrapper {
  display: flex;
  flex-direction: column;
  height: 516px;
  background-color: #111517;
  padding: 46px 20px 0px;
}

.section-problem__title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  margin: 0px 0px 20px 0px;
  padding: 0px 45px 0px 0px;
  white-space: pre-line;
  letter-spacing: 1.2px;

  &--newline {
    display: none;
  }

  &--position {
    // display: none;
    padding-right: 0px;
  }

  &--colortext {
    color: #ff6b08;
    padding-right: 0px;
  }
}


@media screen and (min-width: 768px) {
  .section-problem {
    min-height: 552px;
    background-color: #fff;
  }

  .section-problem__wrapper {
    width: 100%;
    height: 328px;
    padding: 56px 40px 0px 40px;
    background-image: url(../../images/bgr-fire.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }

  .section-problem__title {
    font-size: 26px;
    line-height: 1.269;
    padding: 0px 200px 0px 0px;
    white-space: initial;
    margin: 0px 0px 24px 0px;
    letter-spacing: 1.3px;

    &--newline {
      display: inline-block;
      padding: 0px;
    }

    &--position {
      display: inline;
      // white-space: pre;
      padding: 0px;
    }

    &--colortext {
      padding-right: 0px;
    }
  }
}


@media screen and (min-width: 1280px) {
  .section-problem {
    // min-height: 488px;
    min-height: 690px;
  }

  .section-problem__wrapper {
    min-height: 526px;
    padding: 68px 35px 0px;
    background-image: url(../../images/bgr-fire-desk.png);
  }

  .section-problem__title {
    font-size: 42px;
    line-height: 1.346;
    padding-right: 480px;
    margin-bottom: 42px;
    letter-spacing: 1.78px;

    &--position {
      padding: 0px;
    }

    &--colortext {
      padding-right: 0px;
    }
  }
}

@media screen and (min-width: 1680px) {
  .section-problem {
    // min-height: 488px;
    min-height: 854px;
  }

  .section-problem__wrapper {
    min-height: 560px;
    padding: 106px 156px 0px 186px;
    background-image: url(../../images/bgr-fire-desk-larg.png);
  }

  .section-problem__title {
    font-size: 46px;
    line-height: 1.365;
    padding-right: 530px;
    margin-bottom: 64px;
    letter-spacing: 1.8px;

    &--position {
      padding: 0px;
    }

    &--colortext {
      padding-right: 0px;
    }
  }
}
