.section-form {
  @include center-flex('col-ver');
  background-color: $first-lightdark-color;
  @include bgr-image('../../images/form-bgr.png', cover, no-repeat);
  // background-image: url(../../images/form-bgr.png);
  // background-repeat: no-repeat;
  // background-size: cover;

  @include tablet {
    background-image: url(../../images/form-bgr-tabl.png);
  }

  @include desktop {
    background-image: url(../../images/form-bgr-desk.png);
  }

  @include desktop-wide {
    background-image: url(../../images/form-bgr-desk-larg.png);
  }
}

.section-form__wrapper {
  padding: 50px 20px 0px;
  margin: 0px 0px 58px 0px;
  text-align: center;

  @include tablet {
    padding: 54px 100px 0px;
    margin-bottom: 64px;
  }

  @include desktop {
    padding: 76px 160px 0px;
    margin-bottom: 86px;
  }

  @include desktop-wide {
    padding: 118px 356px 0px;
    margin-bottom: 100px;
  }
}

.section-form__form {
  @include center-flex('col-ver');
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.section-form__title {
  @include font-settings($fourth-text-size, 1.86, 1px);
  // font-size: 14px;
  // color: #ffffff;
  // line-height: 1.86;
  // word-spacing: 4px;
  // letter-spacing: 1px;
  padding: 0px 10px;
  margin: 0px 0px 20px;

  &--colortext {
    color: $first-orange-color;
    padding: 0px;
  }

  @include tablet {
    @include font-height($twenty-two-text-size, 1.744);
    // font-size: 22px;
    // line-height: 1.744;
    margin: 0px 0px 26px;
  }

  @include desktop {
    @include font-settings(37.5px, 1.334, 1.8px);
    // font-size: 37.5px;
    // line-height: 1.334;
    // letter-spacing: 1.8px;
    margin: 0px 0px 42px;
  }

  @include desktop-wide {
    margin: 0px 0px 56px;
    letter-spacing: 1.6px;
  }
}

.section-form__description {
  @include font-settings($first-text-size, 1.818, 0.8px);
  // font-size: 11px;
  // color: #ffffff;
  // line-height: 1.818;
  // letter-spacing: 0.8px;
  padding: 0px 6px;
  margin: 0px 0px 26px;

  &--colortext {
    color: $first-orange-color;
    padding: 0px;
  }

  @include tablet {
    @include font-height($fifth-text-size, 1.333);
    // font-size: 15px;
    // line-height: 1.333;
    // letter-spacing: 0.8px;
    margin: 0px 0px 40px;
    white-space: pre-line;
    text-align: left;
    padding-left: 12px;

    &--colortext {
      padding: 0px;
    }
  }

  @include desktop {
    @include font-height($eigth-text-size, 1.361);
    // font-size: 18px;
    // line-height: 1.361;
    // letter-spacing: 0.8px;
    margin: 0px 0px 52px;
    text-align: center;
    padding-left: 0px;
  }

  @include desktop-wide {
    @include font-settings($twenty-five-text-size, 1.5, 1.2px);
    margin: 0px 0px 51px;
  }
}

.section-form__input:not(:nth-last-of-type(-2n+1)) {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 28px;
  }

  @include desktop-wide {
    margin-bottom: 26px;
  }
}

.section-form__input:nth-last-of-type(-2n+1) {
  margin-bottom: 53px;

  @include tablet {
    margin-bottom: 28px;
  }

  @include desktop {
    margin-bottom: 58px;
  }
}