.section-action__wrapper {
  @include center-flex('col');
  // display: flex;
  // flex-direction: column;
  text-align: center;
  padding: 40px 0px 0px;

  @include tablet {
    padding: 0px 82px 0px;
    margin-bottom: 52px;
  }

  @include desktop {
    padding: 0px 35px 0px;
    margin-bottom: 100px;
  }

  @include desktop-wide {
    padding: 0px 156px 0px 186px;
    margin-bottom: 132px;
  }
}

.section-action__title {
  @include font-settings($tenth-text-size, 1.65, 1.45px);
  // font-size: 20px;
  // line-height: 1.65;
  // letter-spacing: 1.45px;
  // color: #18191d;
  margin: 0px 0px 34px 0px;

  @include tablet {
    @include font-height($twenty-six-text-size, 1.269);
    // font-size: 26px;
    // line-height: 1.269;
    margin: 0px 0px 36px 0px;
    padding-right: 10px;
  }

  @include desktop {
    @include font-settings($forty-two-text-size, 1, 1.8px);
    // font-size: 42px;
    // line-height: 1;
    // letter-spacing: 1.8px;
    text-align: left;
    margin: 0px 0px 44px 0px;
  }
  
  @include desktop-wide {
    @include font-settings($forty-six-text-size, 1.365, 1.9px);
    // font-size: 46px;
    // line-height: 1.365;
    // letter-spacing: 1.9px;
    margin-bottom: 0px 0px 32px 0px;
  }
}

.section-action__items {
  margin-bottom: 54px;
}
