.section-program {
  display: flex;
  position: relative;
  background-color: #111517;
}

.section-program__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  // background: #111517;
}

.section-program__title {
  font-size: 20px;
  line-height: 1.65;
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.section-program__list {
  margin-bottom: 36px;
}

.section-program__img {
  width: 142px;
  height: 169px;
  background-image: url(../../images/pic.png);
  position: absolute;
  right: 0px;
  bottom: -90px;
}

@media screen and (min-width: 768px) {
  .section-program__wrapper {
    padding: 64px 40px 0px;
    margin-bottom: 150px;
  }

  .section-program__title {
    font-size: 26px;
    line-height: 2.405;
    margin-bottom: 44px;
    text-align: left;
  }

  .section-program__list {
    margin-bottom: 0px;
  }

  .section-program__img {
    width: 404px;
    height: 282px;
    background-image: url(../../images/pic-tabl.png);
    right: 0px;
    bottom: 52px;
  }

  // .menu-actions__item:not(:nth-last-of-type(-3n+1)) {
  //   margin-bottom: 16px;
  // }

  // .menu-actions__item:nth-last-of-type(-n+2) {
  //   margin-bottom: 40px;
  // }
}

@media screen and (min-width: 1280px) {
  // .section-program {
  // }

  .section-program__wrapper {
    padding: 52px 0px 0px;
    margin-bottom: 72px;
  }

  .section-program__title {
    font-size: 42px;
    line-height: 1.489;
    padding-left: 35px;
    margin-bottom: 38px;
    text-align: left;
  }

  // .section-program__list {
  //   margin-bottom: 0px;
  // }

  .section-program__img {
    width: 546px;
    height: 364px;
    background-image: url(../../images/pic-desk.png);
    left: 0px;
    bottom: -130px;
  }
}

@media screen and (min-width: 1680px) {
  .section-program__wrapper {
    padding: 120px 140px 0px 186px;
    margin-bottom: 86px;
  }

  .section-program__title {
    font-size: 46px;
    line-height: 1.365;
    padding-left: 0px;
    margin-bottom: 84px;
  }
  
  .section-program__img {
    width: 700px;
    height: 485px;
    background-image: url(../../images/pic-desk-larg.png);
    left: 0px;
    bottom: -246px;
  }
}
