.section-slider {}

.section-slider__wrapper {}

.section-slider__title {}

.section-slider__button {
  display: block;
  border: none;
  width: 20px;
  height: 11px;
  color: #ff6b08;
  //   background-image: url(../../images/icons-svg/);

}

.section-slider__inems {}
