.section-action__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 42px 0px 0px;
}

.section-action__title {
  font-size: 20px;
  color: rgb(24, 25, 29);
  line-height: 1.65;
  margin: 0px 0px 34px 0px;
}

.section-action__items {
  margin-bottom: 53px;
}
