.section-problem {
  background: linear-gradient(
    0deg,
    $first-white-color 23.6%,
    $first-lightdark-color 23.6%
  );

  @include tablet {
    background: linear-gradient(
      0deg,
      $first-white-color 31.2%,
      $first-lightdark-color 31.2%
    );
    @include bgr-image('../images/bgr-fire.png', cover, no-repeat);
    background-position: center;
  }

  @include desktop {
    background: linear-gradient(
      0deg,
      $first-white-color 11.8%,
      $first-lightdark-color 10.8%
    );
    @include bgr-image('../images/bgr-fire-desk.png', cover, no-repeat);
  }

  @include desktop-wide {
    background: linear-gradient(
      0deg,
      $first-white-color 22.8%,
      $first-lightdark-color 22.8%
    );
    @include bgr-image('../images/bgr-fire-desk-larg.png', cover, no-repeat);
  }
}

.section-problem__wrapper {
  @include center-flex('col');
  flex-wrap: nowrap;
  padding: 44px 20px 0px;

  @include tablet {
    padding: 56px 40px 0px 40px;
  }

  @include desktop {
    padding: 68px 35px 0px;
  }

  @include desktop-wide {
    padding: 106px 156px 0px 186px;
  }
}

.section-problem__title {
  @include font-settings($tenth-text-size, 1.528, 1.2px);
  text-align: left;
  margin: 0px 0px 16px 0px;
  padding: 0px 45px 0px 0px;

  &--newline {
    display: none;
  }

  &--position {
    padding-right: 0px;
  }

  &--colortext {
    color: $first-orange-color;
    padding-right: 0px;
  }

  @include tablet {
    @include font-settings($twenty-six-text-size, 1.269, 1.3px);
    padding: 0px 200px 0px 0px;
    white-space: initial;
    margin: 0px 0px 24px 0px;

    &--newline {
      display: inline-block;
      padding: 0px;
    }

    &--position {
      display: inline;
      padding: 0px;
    }

    &--colortext {
      padding-right: 0px;
    }
  }

  @include desktop {
    @include font-settings($forty-two-text-size, 1.346, 1.78px);
    padding-right: 480px;
    margin-bottom: 42px;

    &--position {
      padding: 0px;
    }

    &--colortext {
      padding-right: 0px;
    }
  }

  @include desktop-wide {
    @include font-settings($forty-six-text-size, 1.365, 1.8px);
    padding-right: 530px;
    margin-bottom: 64px;

    &--position {
      padding: 0px;
    }

    &--colortext {
      padding-right: 0px;
    }
  }
}
