.section-form {
  background-color: #111517;
  background-image: url(../../images/form-bgr.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    background-image: url(../../images/form-bgr-tabl.png);
  }

  @include desktop {
    background-image: url(../../images/form-bgr-desk.png);
  }

  @include desktop-wide {
    background-image: url(../../images/form-bgr-desk-larg.png);
  }
}

.section-form__wrapper {
  padding: 50px 20px 0px;
  margin: 0px 0px 58px 0px;
  text-align: center;

  @include tablet {
    padding: 54px 100px 0px;
    margin-bottom: 64px;
  }

  @include desktop {
    padding: 76px 160px 0px;
    margin-bottom: 86px;
  }

  @include desktop-wide {
    padding: 118px 356px 0px;
    margin-bottom: 100px;
  }
}

.section-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-form__title {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.86;
  // word-spacing: 4px;
  letter-spacing: 1px;
  padding: 0px 10px;
  margin: 0px 0px 20px;

  &--colortext {
    color: #ff6b08;
    padding: 0px;
  }

  @include tablet {
    font-size: 22px;
    line-height: 1.744;
    margin: 0px 0px 26px;
  }

  @include desktop {
    font-size: 37.5px;
    line-height: 1.334;
    margin: 0px 0px 42px;
    letter-spacing: 1.8px;
  }

  @include desktop-wide {
    margin: 0px 0px 56px;
    letter-spacing: 1.6px;
  }
}

.section-form__description {
  font-size: 11px;
  color: rgb(255, 255, 255);
  line-height: 1.818;
  letter-spacing: 0.8px;
  padding: 0px 6px;
  margin: 0px 0px 26px;

  &--colortext {
    color: #ff6b08;
    padding: 0px;
  }

  @include tablet {
    font-size: 15px;
    line-height: 1.333;
    white-space: initial;
    margin: 0px 0px 40px;
    white-space: pre-line;
    letter-spacing: 0.8px;
    text-align: left;
    padding-left: 12px;

    &--colortext {
      padding: 0px;
    }
  }

  @include desktop {
    font-size: 18px;
    line-height: 1.361;
    margin: 0px 0px 52px;
    letter-spacing: 0.8px;
    text-align: center;
    padding-left: 0px;
  }

  @include desktop-wide {
    font-size: 25px;
    line-height: 1.5;
    margin: 0px 0px 51px;
    letter-spacing: 1.2px;
  }
}

.section-form__input:not(:nth-last-of-type(-2n+1)) {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 28px;
  }

  @include desktop-wide {
    margin-bottom: 26px;
  }
}

.section-form__input:nth-last-of-type(-2n+1) {
  margin-bottom: 52px;

  @include tablet {
    margin-bottom: 28px;
  }

  @include desktop {
    margin-bottom: 58px;
  }
}
