.section-warranty__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-warranty__title {
  font-size: 20px;
  color: #111517;
  margin: 0px 0px 20px;

}

.section-warranty__wrapper-list {
  padding: 0px 22px;
  background: #f1f1f1;

}

.section-warranty__items {
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
  .section-warranty__wrapper {
    padding: 0px 40px;
    margin-bottom: 48px;
  }

  .section-warranty__title {
    font-size: 26px;
    line-height: 2.405;
    margin: 0px 0px 20px
  }

  .section-warranty__wrapper-list {
    padding: 0px 60px;
  }

  .section-warranty__items {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .section-warranty__wrapper {
    padding: 0px 35px;
    margin-bottom: 84px;
  }

  .section-warranty__title {
    font-size: 42px;
    line-height: 1.489;
    margin: 0px 0px 34px
  }

  .section-warranty__wrapper-list{
    padding: 0px 116px;
  }
}

