.section-slider__wrapper {
  @include center-flex('col-ver');
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  margin-bottom: 56px;
  padding: 51px 20px 0px;
  position: relative;

  @include tablet {
    padding: 0px 40px;
    margin-bottom: 75px;
  }

  @include desktop {
    padding: 0px 100px 0px 116px;
    margin-bottom: 102px;
  }

  @include desktop-wide {
    padding: 0px 310px 0px;
    margin-bottom: 124px;
  }
}

.section-slider__title {
  @include font-settings($tenth-text-size, 1.327, 1.2px);
  font-size: 20px;
  line-height: 1.327;
  letter-spacing: 1.2px;
  // color: #111517;
  text-align: center;
  margin: 0px 0px 18px 0px;

  @include tablet {
    @include font-height($twenty-six-text-size, 2.405);
    // font-size: 26px;
    // line-height: 2.405;
    margin: 0px 0px 24px 0px;

    &--position {
      display: none;
    }
  }

  @include desktop {
    @include font-settings($forty-two-text-size, 1.489, 2px);
    // font-size: 42px;
    // line-height: 1.489;
    // letter-spacing: 2px;
    padding-right: 16px;
    margin: 0px 0px 26px 0px;
  }

  @include desktop-wide {
    @include font-height($forty-six-text-size, 1.365);
    // font-size: 46px;
    // line-height: 1.365;
    // letter-spacing: 2px;
    margin: 0px 0px 40px 0px;
    padding: 0px;
  }
}

.section-slider__button {
  @extend %button;
  border: none;
  width: 20px;
  height: 11px;
  fill: $first-orange-color;
  background: none;

  &--right-arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  &--left-arrow {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &:hover,
  &:focus {
    fill: $first-white-color;
    background-color: $first-orange-color;
  }

  @include tablet {
    width: 25px;
    height: 14px;

    &--right-arrow {
      bottom: 208px;
      right: 23px;
    }

    &--left-arrow {
      bottom: 208px;
      left: 23px;
    }
  }

  @include desktop {
    width: 25px;
    height: 14px;


    &--right-arrow {
      bottom: 258px;
      right: 48px;
    }

    &--left-arrow {
      bottom: 258px;
      left: 58px;
    }
  }

  @include desktop-wide {
    width: 25px;
    height: 14px;

    &--right-arrow {
      bottom: 260px;
      right: 252px;
    }

    &--left-arrow {
      bottom: 260px;
      left: 252px;
    }
  }
}

.section-slider__icon {
  width: 100%;
  height: 100%;
}
