.section-choosing {
  display: flex;
  min-height: 638px;
}

.section-choosing__wrapper {
  display: flex;
  flex-direction: column;
  height: 394px;
  background: #111517;
  padding: 0px 20px;
}

.section-choosing__title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  margin: 0px 0px 16px 0px;
  padding: 0px 40px 0px 0px;
}

.section-choosing__menu-problem {
  z-index: 1;
}
