.slider {
  @include center-flex('col');
  width: 280px;
  @extend %list;

  @include tablet {
    width: 100%;
  }
}

.slider__item {
  text-align: center;
  @extend %link;

  &--first-card {
    background-color: $first-white-color;
    box-shadow: 4px 6.928px 34.96px 11.04px $third-lightdark-opacity-color;
    padding-bottom: 32px;
    margin-bottom: 18px;
  }

  @include tablet {
    &--first-card {
      @include center-flex('spbtw');
      padding: 36px 36px 0px;
      margin-bottom: 24px;

      @include desktop {
        padding: 42px 86px 0px;
        margin-bottom: 36px;
      }

      @include desktop-wide {
        padding: 40px 82px 0px;
        margin-bottom: 40px;
      }
    }
  }
}

.slider__link-wrapper {
  @include center-flex('col-ver');
  padding: 22px 0px 0px;
  margin-bottom: 16px;

  @include tablet {
    padding: 24px 0px 0px;
    margin-bottom: 0px;
  }

  @include desktop {
    padding-top: 6px;
  }

  @include desktop-wide {}
}

.slider__link {
  display: block;
  @extend %link;
  font-size: 0px;

  &--img {
    width: 80px;
    height: 80px;
    margin-bottom: 22px;

    @include tablet {
      margin-bottom: 22px;
    }

    @include desktop {
      width: 145px;
      height: 145px;
      margin-bottom: 22px;
    }
  }
}

.slider__img:hover,
.slider__img:focus {
  border: 2px solid $first-orange-color;
  border-radius: 50%;
  transform: scale(1.12);
}

.slider__icon:hover,
.slider__icon:hover:focus {
  transform: scale(1.2);
}