@mixin center-flex($type: 'all') {
  display: flex;
  flex-wrap: wrap;

  @if $type=='all' {
    justify-content: center;
    align-items: center;
  }

  @else if $type=='hor' {
    justify-content: center;
  }

  @else if $type=='ver' {
    align-items: center;
  }

  @else if $type=='spbtw' {
    justify-content: space-between;
    align-items: center;
  }
}

@mixin pseudo($display: inline-block, $content: '') {
  display: $display;
  content: $content;
}

@mixin font-settings($size, $height) {
  font-size: $size;
  line-height: $height;
}

@mixin font-colors($size, $height) {
  font-size: $size;
  color: $color;
}

// @include font-colors(50px, green);

@mixin width-percent($width-elem, $width-cont) {
  width: $width-elem / $width-cont * 100%;
}

@mixin height-percent($height-elem, $height-cont) {
  height: $height-elem / $height-cont * 100%;
}

// width: 300px / 960px * 100%;

// @ min-screen(width) // shortcut for @media screen and (min-width ...)
// @ max-screen(width) // shortcut for @media screen and (max-width ...)
// @ screen(min-width, max-width) // shortcut for @media screen and (min-width ...) and (max-width ...)

// @include screen(768, 1280) { ... }
// @media screen and ( min-width: 768px ) and ( max-width: 1280px )
// {
//   ...
// }

// @include screen(320, 640)  { ... }
// @media screen and ( min-width: 320px ) and ( max-width: 640px )
// {
//   ...
// }

// @media #{$format} {
//   .menu {
//     @media (max-width: $mobile) {
//       width: 100%;
//     }
//     @media (max-width: $tablet) {
//       width: 60%;
//     }
//     @media (max-width: $desktop) {
//       width: 30%;
//     }
//   }
// }
