%button {
  border: 2px solid #ff6b08;
  // border: none;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;
}

%list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

%link {
  // display: inline-block;
  margin: 0px;
  text-decoration: none;
  transition: all 0.2s linear;
}

%item {
  cursor: pointer;
  transition: all 0.2s linear;
}

%icon {
  display: block;
  width: 100%;
}
