$main-font-stack: 'Montserrat', 'Tahoma', sans-serif;
$font-family-monts: 'Montserrat', sans-serif;
$main-font-tahoma: 'Tahoma', sans-serif;


// font-family: 'Montserrat', sans-serif;


$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;


// $font-weight-light: 300;

// $font-style-italic: italic;


$primary-text-size: 11px;
$secondary-text-size: 13px;
$primary-font-size: 15px;
$secondary-font-size: 20px;

$main-text-height: 1.2;
$primary-text-height: 1.35;
$primary-font-height: 1.5;
$secondary-text-height: 1.8;

$primary-white-color: #ffffff;
$primary-lightgrey-color: #b9b9b9;
$primary-grey-color: #858585;
$primary-dark-color: #18191d;
$secondary-dark-color: #111517;
$primary-orange-color: #ff6b08;


// $background-light-color: rgb(149, 225, 211);
// $background-lighter-color: rgba(0, 0, 0, 0);

// $border-light-color: rgb(229, 229, 229);

// $button-light-color: rgb(255, 255, 255);
// $button-accent-color: rgb(234, 240, 239);

// $input-text-color: rgb(204, 204, 204);
// $input-border-color: rgb(231, 231, 231);

// $ligth-gradient-color: rgba(252, 227, 138, 0.9);
// $dark-gradient-color: rgba(243, 129, 129, 0.9);
