html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
  font-size: $first-text-size;
  line-height: $main-text-height;
  color: $first-grey-color;
  margin: 0px;
  padding: 0px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  outline: 1px solid red;
}
