* {
    outline: 1px solid red;
}

.wrapper {
    width: 470 px;
    margin: 0 auto;
    background-color: #dce7c2;
}

.main-menu-items {
    margin: 0;
    padding: 0;
    font-size: 15px;
    list-style: none;
}

.main-menu-item {
    display: inline-block;
    background-color: rgb(127, 201, 23);
}

.main-menu-item:not(:last-child) {
    margin: 30px;
}

.menu-link {
    display: block;
    width: 80px;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-link:hover {
    color: rgb(204, 53, 159);
}

.menu-link:focus {
    color: rgb(76, 40, 7);
    background-color: rgb(213, 201, 43);
}

.main-menu-item:nth-of-type(3) {
    background-color: rgb(218, 99, 30);
}