html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    outline: 1px solid red;
}

.wrapper {
    width: 900 px;
    margin: 0 auto;
    background-color: #dce7c2;
}

/* navigation */

.main-menu {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}

.main-menu-item {
    display: inline-block;
    margin: 30px;
}

.main-menu-item:last-child {
    margin: 30px 0 30px 30px;
}

.main-menu-link {
    display: block;
    color: #626262;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.main-menu-link:hover {
    color: #03a9f4;
}

.main-menu-link:focus {
    color: rgb(76, 40, 7);
    background-color: rgb(213, 201, 43);
}

/* .main-menu-item:nth-of-type() {
    background-color: rgb(218, 99, 30);
} */

/* header */

