html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 26px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1110px;
    margin: 0px auto;
}

/* navigation */

.main-navigation a {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-name {
    float: left;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555252;
    margin-top: 34px;
}

.logo-name:hover,
.logo-name:focus,
.logo-name::first-letter {
    color: #1abc9c;
}

/* navigation-items */

.navigation-items {
    float: right;
    width: 466px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 44px;
}

.navigation-items li {
    float: left;
}

.navigation-items a {
    float: right;
    line-height: 11px;
    font-weight: bold;
    color: #0f0101;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-items li:not(:last-child) {
    margin-right: 30px;
}

.navigation-items a:hover,
.navigation-items a:focus {
    color: #1abc9c;
}

.main-navigation {
    margin-bottom: 90px;
}

/* main */
/* FEATURED PRODUCTS */

.main-section {
    margin-bottom: 98px;
}

.main-section h2 {
    text-align: center;
}

.main-title {
    font-size: 48px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #515151;
    margin-bottom: 118px;
}

h2::after {
    display: block;
    width: 164px;
    height: 6px;
    background-color: #4ec6ab;
    content: '';
    margin: 20px auto;
}

.items-products {
    margin: 0px;
    padding: 0px;
}

.items-products li {
    float: left;
    width: 255px;
    list-style: none;

}

.items-products li:not(:nth-child(4n)) {
    margin-right: 30px;
}

.items-products li:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
}

.product a {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
}

.item-products .name-product,
.item-products .price-product {
    float: left;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #ffffff;
    height: 40px;
    margin: 0px;
    padding: 5px 0px 0px 12px;
}

.item-products:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.name-product {
    min-width: 201px;
    background-color: #323232;
}

.price-product {
    min-width: 54px;
    background-color: #8c8c8c;
}

.name-product:hover {
    color: #ffffff;
    background-color: #1abc9c;
}

.price-product:hover {
    color: #ffffff;
    background-color: #7fd9c7;
}

.name-product:focus {
    color: #ffffff;
    background-color: #1abc9c;
}

.price-product:focus {
    color: #ffffff;
    background-color: #7fd9c7;
}

/* LATEST NEWS */

.main-title-news {
    font-size: 48px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #515151;
    margin: 0px;
    margin-bottom: 106px;
}

.items-news {
    margin: 0px;
    padding: 0px;
}

.items-news li {
    float: left;
    width: 350px;
    list-style: none;
    text-decoration: none;
}

.items-news li:not(:nth-child(3n)) {
    margin-right: 30px;
}

.news-name {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 14px 0px 40px 0px;
    padding: 0px;
}

.news-name::after {
    display: block;
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    content: '';
    margin-top: 10px;
}

.news-content {
    font-weight: 400;
    margin: 0px;
    margin-bottom: 14px;
    padding: 0px;
}

.download-button {
    border: none;
    margin: 0px;
    padding: 14px 42px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #ffffff;
    background-color: #4ec6ab;
    margin-bottom: 82px;
    cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}