html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 26px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1110px;
    margin: 0px auto;
    background-color: rgb(216, 209, 147);
}

* {
    outline: 1px solid red;
}

/* main */

.main-title{
    font-family: serif;
}






/* p::before{
    content: "\260E";
    color: red;
}

h2::before {
    display: block;
    width: 50px;
    height: 5px;
    background-color: red;
    content: '';
    margin: 0px auto;
} */